services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 1s
      timeout: 3s
      retries: 30

  postgres_migrations:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: backend:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PG__CONNECTION__DSN: postgresql://postgres:postgres@postgres:5432/app
    command: alembic upgrade head

  data_migrations:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: backend:latest
    depends_on:
      postgres:
        condition: service_healthy
      postgres_migrations:
        condition: service_completed_successfully
    environment:
      PG__CONNECTION__DSN: postgresql://postgres:postgres@postgres:5432/app
    command: python manage.py apply-sql data.sql

  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: backend:latest
    restart: on-failure
    depends_on:
      postgres:
        condition: service_healthy
      postgres_migrations:
        condition: service_completed_successfully
      data_migrations:
        condition: service_completed_successfully
    ports:
      - "8003:8001"
    environment:
      PYTHONUNBUFFERED: 1
      ENV: COMPOSE
      APP__HOST: 0.0.0.0
      APP__PORT: 8001
      PG__CONNECTION__DSN: postgresql://postgres:postgres@postgres:5432/app
      S3__CONNECTION__URL: "http://minio:9000"
    command: python manage.py start-web

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: minio server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  minio_init:
    image: minio/mc:latest
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minioadmin minioadmin &&
      mc mb local/bucket || true
      "

volumes:
  postgres_data:
